GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"<firebase-project-id>","private_key_id":"<id>","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"<service-account-email>","client_id":"<client-id>","token_uri":"https://oauth2.googleapis.com/token"}
FIREBASE_PROJECT_ID=<firebase-project-id>
ALLOWED_SUPABASE_API_KEYS=<anon-or-publishable-key-1>,<anon-or-publishable-key-2>
ALLOWED_TARGET_ROLES=all,user,admin
ALLOWED_ROUTES=detailed_event_screen,detailed_event_screen_admin
PUSH_MAX_REQ_PER_MINUTE=20
PUSH_MIN_SEND_INTERVAL_MS=5000
